body   {
	background-color: var(--bs-nightair-bg);
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}  

main  {
	--main-width: 1024px;
	width: var(--main-width);
  	margin:  0px auto 0px; 
  	background-color: var(--bs-white);
  	border-radius: 30px;
  	padding: 0;
}  


header{
	color : var(--bs-white);
	text-align: center;
}

header h2 {
	color:var(--bs-yellow);
	font-weight: bold;
}

footer {
	height: 45px;
}

table.admin td {
	padding: 15px;
}

table.admin td.bold {
	font-weight: bold;
}

table.dashed tbody tr {
	border-top: 1px dashed;	
}

table.dashed tbody tr:hover {
	background-color: #eee;
}

table.admin {
	margin: 10px auto;
	width: 900px;	
}

table.langTable {
	margin-top:0;
	min-width:850px;
}

table.langTable th, table.admin th {
	padding: 15px;
	background-color: var(--bs-nightair-bg);
	color:var(--bs-yellow);
	text-align: center;
}

table.langTable tr {
	border-top: dotted 1px black;
}

table.langTable tbody tr:hover {
	background-color: #eee;
}

a {
	text-decoration: none;
	font-weight: bold;
}

input[type=button], input[type=reset], input[type=submit], input[type=file] {
	background-color: var(--bs-nightair-bg);
	border: none;
	border-radius: 10px;
	padding: 7px 15px;
	color: white; 
	font-weight: bold;	
}

input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
	color:var(--bs-yellow);
}

input[type=text], select, input[type=time], input[type=date] {
	background-color: #cfe2ff;	
	border-radius: 7px;	
	padding: 7px 20px;
	border: none;
	color:var(--bs-nightair-bg);
	width:calc(var(--main-width)/2);
	width:calc(var(--main-width)/2);
}


input.langtag {
	width:70px;
}

input.langname {
	width:440px;
}

/*---TABS---*/
li.up li {
	padding: 10px;
}

.tabs {
	list-style-type: none;
	padding: 0;
	width:var(--main-width);
	margin: 0;
	position: relative;
}

.tabs:after {
	content: "";
	clear: both;
	display: block;
	height: 240px;
}

.tabs li.up {
	float: left;
}

.tabs li.up > input {
	display: none;
}

.tabs li.up > label {
	display: inline-block;
	width:calc(var(--main-width)/2);
	height: 50px;
	line-height: 30px;
	padding: 10px 30px;
	text-align:center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: bold;
	color: darkblue;
}

.tabs li.up:last-child > label {
	border-radius: 0 30px 0 0;
}

.tabs .tab-content {
	display: none;
	position: absolute;
	left: 0;
	padding: 20px;
	overflow-y: auto;
}

label {
	background-color: #cfe2ff;
}

/* Функциональность: */
.tabs li.up > input:checked + label {
	background-color: white;	
}

.tabs li.up > input:checked ~ .tab-content {
	display: block;
}

.errors {
	color:red; 
	padding-left:45px;
	font-weight: bold;
}

.htmlInside h1, h2, h3, h4, h5, h6, h7 {
	font-size:medium;  

}

.modal-body {
	margin: auto;	
}

.modal-header, .modal-footer {
	background-color: #fff;
}

.modal-content {
	background-color: var(--bs-nightair-bg);
}
div[data-bs-dismiss="modal"] {
	cursor: pointer;
	padding: 25px;
	font-weight: bold;	
	color: white; 
}
div[data-bs-dismiss="modal"]:hover {
	color: var(--bs-yellow); 
}
