main  {
	width:1024px;
  	padding: 0px 0px 30px;
  	margin:  0px auto 0px; 
  	background-color: var(--bs-white);
  	display: block;
}  

body {
	background-color: var(--bs-nightair-bg);
}  

header{
	color : var(--bs-white);
	text-align: center;
}

table.admin td {
	padding: 15px;
	border-bottom: 1px dashed;
}

table.admin {
	margin: 10px auto;
	width: 900px;	
}

a {
	text-decoration: none;
	font-weight: bold;
}

li {
	padding: 15px;
}
