@font-face {
	font-family: Archangelsk; 
	src: url(../fonts/Archangelsk.ttf); 
}

.fs-7 {
  font-size: calc(0.75rem - 0.3vw) !important;
}

@media (min-width: 1200px) {
/*base*/
  .fs-xl-1 {
    /*font-size: 2.5rem !important;*/
  }
 
}
@media (min-width: 1400px) {

  .fs-xxl-1 {
    /*font-size: 2.5rem !important;*/
  }

}