@font-face {
	font-family: Archangelsk; 
	src: url(../fonts/Archangelsk.ttf); 
}

@font-face {
	font-family: RobotronDotMatrix; 
	src: url(../fonts/RobotronDotMatrix.otf); 
}



.fs-7 {
  font-size: calc(0.75rem - 0.3vw) !important;
}

